<mat-card>
    <mat-card-title>
        Questions
    </mat-card-title>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. How would you normally debug a node application?
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
                <div class="answer-container">
                    <p>
                        I feel using a VS Code Debugger helps better in debugging as compared to conventional debuggers. 
                    </p>
                    <p>
                        I use the <i>--inspect</i> keyword while starting the app in VS Code to attach a debugger in my code.
                    </p>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. Which node modules do you commonly use in your toolbelt and why?
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
                <div class="answer-container">
                    <p>
                        For my front end my go to module is the material module, since it makes the styling part very easy.
                    </p>
                    <p>
                        Where as for my back end development, I use express, and MongoDb as my database.
                    </p>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3. Can you tell us whether you prefer using Directives or Components in AngularJS and why?
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
                <div class="answer-container">
                    <p>
                        Both directives and components have their functions and advantages, if I have to create a view then I
                        would create a component, but if I have to provide a nature or functionality to it, I would use a
                        directive.
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>

